<div style="text-align:center">
    <img src="http://www.colafans.cn:8081/uploads/20190504/f5b672c28014b3562595d21279310a59.png" style="width: 96px;">
    <br>
</div>
<div>&ibsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;《校招App》是此次毕业设计的手机应用。<br></div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2005年——三位上海的大学生瞄准了大学生求职就业市场的空白而开始在这个领域钻研, 旨在创建一个能为学生群体提供最好服务体验的网站及社区。</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2007年——校招App正式开始商业运行。多来以来，校招AppYingJieSheng.com已然成为了中国领先的大学生求职网站，每年为数百万大学生提供服务。</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2015年——由中国人力资源行业的领头羊企业收购，继续坚持不懈为学生群体提供最好的服务，更全面的辅助大学生挖掘自身的潜力并在职场上取得最好的发展 。</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;校招是中国领先的专门面向大学生及在校生的求职招聘网站。</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;校招App向大学生及在校生提供新、全、准确的校园全职招聘、实习招聘、兼职招聘、企业宣讲会、招聘会、企业招聘截止日期等招聘信息，并同时提供职业测评、应聘指导等求职就业资讯及辅导。</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;校招App始终以大学生需求为导向，注重给大学生提供满意的网上求职服务体验，用权威、高效的专业服务做好大学生与社会的对接。</div>
